In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns',5)

In [3]:
data=pd.read_csv("data/speeddating.csv")

In [4]:
data.head()

  has_null  wave  ... decision_o  match
0      b''   1.0  ...       b'0'   b'0'
1      b''   1.0  ...       b'0'   b'0'
2      b''   1.0  ...       b'1'   b'1'
3      b''   1.0  ...       b'1'   b'1'
4      b''   1.0  ...       b'1'   b'1'

[5 rows x 123 columns]

In [5]:
data2=data.iloc[[1,2,3,4,5],[0,1,2,3,4,5]]

In [23]:
data2

  has_null  wave  ... age_o  d_age
1      b''   1.0  ...  22.0    1.0
2      b''   1.0  ...  22.0    1.0
3      b''   1.0  ...  23.0    2.0
4      b''   1.0  ...  24.0    3.0
5      b''   1.0  ...  25.0    4.0

[5 rows x 6 columns]

In [25]:
data.columns

Index(['has_null', 'wave', 'gender', 'age', 'age_o', 'd_age', 'd_d_age',
       'race', 'race_o', 'samerace',
       ...
       'd_expected_num_interested_in_me', 'd_expected_num_matches', 'like',
       'guess_prob_liked', 'd_like', 'd_guess_prob_liked', 'met', 'decision',
       'decision_o', 'match'],
      dtype='object', length=123)

In [11]:
data_new=data[["age","like","decision","guess_prob_liked","match"]]

In [12]:
data_new.head()

    age  like decision  guess_prob_liked match
0  21.0   7.0     b'1'               6.0  b'0'
1  21.0   7.0     b'1'               5.0  b'0'
2  21.0   7.0     b'1'               NaN  b'1'
3  21.0   7.0     b'1'               6.0  b'1'
4  21.0   6.0     b'1'               6.0  b'1'